--- a short description
-- @classmod {modname}
local {modname} = {}

-- class table
local {classname} = {}

function {classname}:{classname}()
end

function {modname}.new(...)
  local self = {}
  setmetatable(self, { __index = {classname} })
  self:{classname}(...)
  return self
end

return {modname}
