--- a short description
-- @classmod {modname}
local {parent} = require('{parent}')

local {modname} = {}

-- class table
local {classname} = {parent}.new{}

function {modname}.new(o)
  local self = o or {}
  setmetatable(self, { __index = {classname} })
  return self
end

return {modname}
